.Slide-Content, .Tab-Content {
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-webkit-box-orient: vertical;			
	color: gray;
	background: white;
	-webkit-box-flex: 1;
	border-radius: 0.4em;
	-webkit-box-shadow: white 0em 0em 0.1em;	
	overflow: hidden;				
}
