/** Add css rules here for your application. */

html, body {
	height: 100%;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}

body {
	font-size: 62.5%;	/* 1em = 10px */
	background: gray;
}

html {
	color: white;
	font: normal 2.2em Helvetica, Arial, sans-serif; /* desktop:1.6em; androidwvga:2.2em */
}

/********************* Header ****************/

.Header {
	position:relative;
	z-index: 0;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: center;
	-webkit-box-pack: justify;
	background-color: red;
	padding: 0.3em 0.3em;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#b0bccd), color-stop(0.5, #889bb3), color-stop(0.5, #8195af), to(#6d84a2));
	border-bottom: solid 1px #22374A;
	-webkit-box-shadow: 0px 0px 12px black;
	text-shadow: black 0 -0.1em 0.1em;	
}

/* TODO: fix me! */
.Header > div.gwt-Label {
	font-weight: bold;
}

/************** Button **************/
.Button {
	color: #fff;
	text-decoration: none;
	display: inline-block;
	padding: 0.3em 0.5em 0.5em 0.5em;
	-webkit-border-radius: 0.4em;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7d828c),color-stop(0.5, #303749), color-stop(0.5, #121a2e), to(#121a2e));
	border: solid 1px rgba(79, 79, 79, 0.75);
	height:1em;	
	text-shadow: rgba(0, 0, 0, 0.4) 0 -0.1em 0em;
}

.Button.Pressed {
	text-shadow: darkgreen 0 -0.1em 0.1em;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, 
		from(lightgreen), color-stop(0.5, #298C08), color-stop(0.5, darkgreen), to(darkgreen));
}

.Button.Back {
	position: relative;
	padding-left: 0;
	margin-left: 0.8em;
	-webkit-border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	border-left: 0 !important;
}

.Button.Back > span.Pointer {
	display: block;
	height: 1.3em;
	width: 1.3em;
	position: absolute;
	left: -0.7em;
	top: 0.24em;
	border-top: 0;
	border-right: 0;
	background-image: -webkit-gradient(linear, left top, right bottom,
	      from(#7d828c),
	      color-stop(0.5, #303749),
	      color-stop(0.5, #121a2e),
	      to(#121a2e));
	border-left: solid 1px rgba(79, 79, 79, 0.75);
	border-bottom: solid 1px rgba(79, 79, 79, 0.75);
	-webkit-transform: rotate(45deg);
	z-index: -1;
}

.Button.Back.Pressed > span.Pointer {
	background: -webkit-gradient(linear, left top, right bottom, 
		from(lightgreen), color-stop(0.5, #298C08), color-stop(0.5, darkgreen), to(darkgreen));
}

.Button.Disabled {
	color: gray;
}
