/** Add css rules here for your application. */

html, body {
	height: 100%;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}

body {
	font-size: 62.5%;	/* 1em = 10px */
	background: #242a30;
}

html {
	font: normal 1.6em Helvetica, Arial, sans-serif;
}

/********************* Header ****************/

.Header {
	position:relative;
	z-index: 1;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: center;
	-webkit-box-pack: justify;
	background-color: red;
	padding: 0.3em 0.3em;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#b0bccd), color-stop(0.5, #889bb3), color-stop(0.5, #8195af), to(#6d84a2));
}

/************** Button **************/
.Button {
	color: #fff;
	text-decoration: none;
	display: inline-block;
	padding: 0.2em 1em 0.6em 1em;
	-webkit-border-radius: 0.4em;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7d828c),color-stop(0.5, #303749), color-stop(0.5, #121a2e), to(#121a2e));
	border: solid 0.1em rgba(79, 79, 79, 0.75);
	height:1em;
	text-shadow: black 0px -1px 1px;
}

.Button.Pressed {
	text-shadow: white 0px -1px 0px;
	background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#BABABA), color-stop(0.98, #E6E6E6), to(white));	
}

.Button.Back {
	position: relative;
	padding-left: 0.5em;
	margin-left: 0.8em;
	-webkit-border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	border-left: 0 !important;
}

.Button.Back > span.Pointer {
	display: block;
	height: 1.3em;
	width: 1.3em;
	position: absolute;
	left: -0.7em;
	top: 0.2em;
	border-top: 0;
	border-right: 0;
	background-image: -webkit-gradient(linear, left top, right bottom,
	      from(#7d828c),
	      color-stop(0.5, #303749),
	      color-stop(0.5, #121a2e),
	      to(#121a2e));
	border-left: solid 0.1em rgba(79, 79, 79, 0.75);
	border-bottom: solid 0.1em rgba(79, 79, 79, 0.75);
	-webkit-transform: rotate(45deg);
	z-index: -1;
}

.Button.Disabled {
	color: gray;
}
